{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
    <div class="jumbotron">{{ 'post.no_posts_found'|trans }}</div>
    Alex
{% endblock %}

{# {% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %} #}