{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block main %}
    <div class="jumbotron">{{ 'post.no_posts_found'|trans }}
        initial setup
    </div>
{% endblock %}

{# {% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %} #}