{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block sidebar %}
    <div class="jumbotron">
        <div>upload area</div>
    </div>
{% endblock %}

{% block main %}
    <div class="jumbotron">
        initial setup
    </div>
{% endblock %}

{# {% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %} #}