{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block main %}
    <div class="jumbotron">
         <form id="raceCreate" enctype="multipart/form-data" method="POST" action="{{ path('import_csv') }}">
            <div class="row">
                <div class="form-group col-6">
                    <label for="raceTitle">Race Name:</label>
                    <input type="text" class="form-control" id="raceTitle" name="raceTitle" required>
                </div>
                <div class="form-group col-6">
                    <label for="raceDate">Race Time:</label>
                    <input type="datetime-local" class="form-control" id="raceDate" name="raceDate" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="csvFileInput" name="csvFile" required>
                        <label class="custom-file-label" for="csvFileInput">Choose race CSV file</label>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-primary" id="show-races">Show uploaded races</button>
                </div>
            </div>
        </form>
    </div>

    <div class="jumbotron races-jumbotron d-none">
        <div class="container">
            <h1>Races List</h1>
            <input type="text" class="form-control" id="raceSearch" placeholder="Search Races by Title">
            <table class="table table-sortable">
                <thead>
                <tr>
                    <th class="sortable-race" data-dir="asc" data-column="title">Race Title</th>
                    <th class="sortable-race" data-dir="asc" data-column="date">Race Date</th>
                    <th class="sortable-race" data-dir="asc" data-column="averageTimeMedium">Average time medium distance</th>
                    <th class="sortable-race" data-dir="asc" data-column="averageTimeLong">Average time long distance</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="race-table-body" data-path="{{ path('_api_/races{._format}_get_collection') }}">
                </tbody>
            </table>
        </div>
    </div>

    <div class="jumbotron runner-jumbotron d-none">
        <div class="container">
            <h1>Runners List</h1>
            <div class="row">
                <input type="text" class="form-control resultsSearch col-4" placeholder="Search Results by Racer Name" data-column="name">
                <input type="text" class="form-control resultsSearch col-4" placeholder="Search Results by Distance" data-column="distance">
                <input type="text" class="form-control resultsSearch col-4" placeholder="Search Results by Age Category" data-column="ageCategory">
            </div>
            <table class="table table-sortable">
                <thead>
                <tr>
                    <th class="sortable" data-dir="asc" data-column="name">Racer Name</th>
                    <th class="sortable" data-dir="asc" data-column="finishTime">Finish time</th>
                    <th class="sortable" data-dir="asc" data-column="distance">Distance</th>
                    <th class="sortable" data-dir="asc" data-column="ageCategory">Age Category</th>
                    <th class="sortable" data-dir="asc" data-column="placement">Overall place</th>
                    <th class="sortable" data-dir="asc" data-column="agePlacement">Age category place</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="runner-table-body">
                </tbody>
            </table>
            <nav aria-label="Runner Pagination">
                <ul class="pagination" id="runner-pagination">
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
